<!-- Fondo completo -->
<div class="login-bg min-h-screen flex items-center justify-center bg-cover bg-center">
    <!-- Card blanco -->
    <div class="login-card flex flex-col items-center px-8 py-10">
        <h1 class="heading font-poppins" i18n>Bienvenido!</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center w-full mt-6">
            <!-- Email -->
            <div class="form-control">
                <label i18n for="email" class="font-bree">Correo electrónico</label>
                <input id="email" type="email" formControlName="email" placeholder="correo@ejemplo.com" class="w-full border border-black py-2 px-4 font-bree" />
            </div>

            <!-- Password -->
            <div class="form-control">
                <label i18n for="password" class="font-bree">Contraseña:</label>
                <input id="password" type="password" formControlName="password" placeholder="••••••••" class="w-full border border-black py-2 px-4 font-bree" />
            </div>

            <!-- Botón -->
            <button
                type="submit"
                class="login-btn mb-4 disabled:bg-gray-300 disabled:cursor-not-allowed"
                [disabled]="loginForm.invalid"
                i18n
            >
                Ingresar
            </button>

            <!-- Mensaje -->
            <p *ngIf="mensaje" [ngClass]="isError ? 'text-red-600' : 'text-green-600'">{{ mensaje }}</p>

            <!-- Link register -->
            <p class="font-poppins text-base mt-4" i18n>
                No tienes una cuenta?
                <a routerLink="/register" class="link">Ingresa aquí</a>
            </p>
        </form>
    </div>
</div> 